@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
  font-family: 'Lato', sans-serif;
  color: #54575A;
}

.wrapper {
  position: relative;
  width: 1440px;
  min-height: 1379px;
  margin: auto;
}

.brand-img {
  position: absolute;
  width: 193px;
  height: 47.64px;
  left: 221px;
  top: 50.25px;

}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 68px;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.app-store-btn {
  position: absolute;
  width: 138.44px;
  height: 46.28px;
  left: 221px;
  top: 531px;
}

.app-store-btn img {
  width: 138.44px;
  height: 46.28px;
}

.google-play-btn {
  position: absolute;
  width: 156.19px;
  height: 46.28px;
  left: 381.81px;
  top: 531px;
}

.google-play-btn img {
  width: 156.19px;
  height: 46.28px;
}

.main-image-container {
  position: absolute;
  width: 535.72px;
  height: 309.27px;
  left: 683.28px;
  top: 229.73px;

}

.main-image-container img {
  height: 411.15px
}

.profile-img {
  position: absolute;
  height: 444px;
  left: 737px;
  right: 479px;
  top: 686px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.product-img {
  position: absolute;
  height: 222px;
  left: 737px;
  right: 479px;
  top: 1157px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.orders-img {
  position: absolute;
  height: 470px;
  left: 479px;
  right: 737px;
  top: 913px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.cart-img {
  position: absolute;
  height: 222px;
  left: 221px;
  right: 995px;
  top: 1157px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.home-img {
  position: absolute;
  height: 470px;
  left: 995px;
  right: 221px;
  top: 908px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

/* Background Toggles */
.background-toggles {
  position: absolute;
  right: 150px;
  top: 70px;
  display: flex;
}

.background-toggles>div {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Background */
.background-1 {
  background-color: #fcfcfc;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b5b4b6' fill-opacity='0.33' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.background-3 {
  background: #2980B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}