@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
  font-family: 'Lato', sans-serif;
  color: #54575A;
}

.wrapper {
  position: relative;
  width: 1440px;
  min-height: 100vh;
  margin: auto;
}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 68px;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}